<div class="container">
  <div class="title">
    <h1> Welcome to Twitter Cloud! </h1>
    <p> Generate word clouds using any public Twitter account!</p>
  <div>
  <div class="row">
    <div class="twelve columns">
      Enter Twitter handle here, e.g. POTUS
      <input id="username" type="text" name="username">
      <button class="button-primary" id="submit">Submit</button>
    </div>
  </div>

  <div id="cloud" class="offset-by-two eight columns" style="height: 350px"></div>
</div>
