<html>
  <head>
    <title>Twitter Word Cloud</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/jqcloud.css" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/jqcloud-1.0.4.min.js"></script>
    <script type="text/javascript" src="scripts/interface.js"></script>

  </head>

  <body>
    <label for="username">
      Enter Twitter handle here, e.g. POTUS
      <input id="username" type="text" name="username">
    </label>
    <button id="submit">Submit</button>

    <div id="cloud" style="width: 550px; height: 350px;"></div>

  </body>
